<%= link_to "See Restaurants", restaurants_path %> <br />
<h1>My Orders</h1>

<% @orders.each do |order| %>
<p>Order Name: <button class="button"  style="vertical-align:middle"><span><%= link_to order.name, order_path(order) %></span></button></p>
<p>Description: <%= order.description %></p>

<% end %>
