<%= link_to "Home", root_path %> <br />
<h1> Restaurants </h1>

<% @restaurants.each do |restaurant| %>
<li> <%= restaurant.name %>
  <button class="button"  style="vertical-align:middle"><span>
  <%= link_to "Create New Order", new_restaurant_order_path(restaurant) %></li></span></button> <br />
<% end %>
